<!DOCTYPE html>
<html>
  <head>
    <title>NowTrending</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NowTrending Backend API</h1>
    <p>Express</p>
    <img src="https://images.velog.io/images/riceintheramen/post/d222cd4a-70f4-4495-b620-300d81dad825/786d30e016fad2cb7dc2c76af86d55f6afd277dd5a8a80dd17b13332bfe0131f.png">
  </body>
</html>
